@import "../mixins.module";

main.home {
  @include centering;
  width: 100%;

  div.homeActions {
    @include centering;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 50%;
    min-width: 256px;
    min-height: 100vh;

    h1.homeTitle {
      font-size: 3em;
    }
  }
}
