@import "../mixins.module";

main.home {
  @include centering;
  background-color: var(--white);

  div.homeActions {
    @include centering;
    background-color: blue;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 256px;
    min-height: 100vh;

    h1.homeTitle {
      font-size: 3em;
    }
  }
}
