@import "../mixins.module";

main.options {
  @include centering;
  flex-wrap: wrap;
  flex-direction: column;

  h1.optionsTitle {
    @include title;
    margin: 20px 0;
  }

  section.optionsSection {
    @include centering;
    justify-content: space-evenly;
    flex-grow: 1;
  }
}
