@import "../mixins.module";

main.pulseSensor {
  @include centering;
  flex-wrap: wrap-reverse;

  section.pulseInfo {
    @include centering;
    flex-direction: column;
    width: 100%;
    min-width: 256px;

    h1.pulseTitle {
      @include title;
      color: var(--white);
    }

    p.pulseData {
      @include paragraph;
      color: var(--white);
    }
  }
}
