@import "../mixins.module";

main.temperatureSensor {
  @include centering;

  section.temperatureInfo {
    @include centering;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 256px;

    h1.temperatureTitle {
      @include title;
      color: var(--white);
    }

    p.temperatureStatus {
      @include paragraph;
      color: var(--white);
    }
  }
}
